* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;*
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.top-header {
    background-color: black;
    color: white;
    padding: 10px;
    height: 60px;
}

.top-header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}
